@model BasketViewModel 
<div class="cart-total">
    <span class="text-number">
        @Model.BasketItems.Count
    </span>
    <span class="text-item">
        Shopping Cart
    </span>
    <span class="price">
        £@Model.TotalPrice.ToString("0.00")
        <i class="fas fa-chevron-down"></i>
    </span>
</div>
<div class="cart-dropdown-block">
    <div class=" single-cart-block ">
        @foreach (var item in Model.BasketItems)
        {
            <div class="cart-product">
                <a href="product-details.html" class="image">
                    <img src="~/image/products/@item.Book.Images.FirstOrDefault(x=>x.IsMain == true)?.Url" alt="">
                </a>
                <div class="content">
                    <h3 class="title">
                        <a href="product-details.html">
                            @item.Book.Name
                        </a>
                    </h3>
                    <p class="price"><span class="qty">@item.Count ×</span> £@((item.Book.DiscountPercent>0?(item.Book.InitialPrice * (100 - item.Book.DiscountPercent) / 100) :item.Book.InitialPrice).ToString("0.00"))</p>
                    <a class="cross-btn removefrombasket" asp-action="removefrombasket" asp-controller="book" asp-route-id="@item.Book.Id"><i class="fas fa-times"></i></a>
                </div>
            </div>
        }
       
    </div>
    <div class=" single-cart-block ">
        <div class="btn-block">
            <a href="~/cart.html" class="btn">
                View Cart <i class="fas fa-chevron-right"></i>
            </a>
            <a href="~/checkout.html" class="btn btn--primary">
                Check Out <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>