@model Book
<div class="modal-content">
    <button type="button" class="close modal-close-btn ml-auto" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="product-details-modal">
        <div class="row">
            <div class="col-lg-5">
                <div class="single-slide">
                    <img src="~/image/products/@Model.Images.FirstOrDefault(x=>x.IsMain==true)?.Url" alt="">
                </div>
            </div>
            <div class="col-lg-7 mt--30 mt-lg--30">
                <div class="product-details-info pl-lg--30 ">
                    <p class="tag-block">Tags: 
                        @foreach (var item in Model.BookTags)
                        {
                            <a href="#">@item.Tag.Name@(Model.BookTags.Last()?.TagId > item.TagId ?", ":"")</a>
                        }
                    </p>
                    <h3 class="product-title">@Model.Name</h3>
                    <ul class="list-unstyled">
                        <li>Author: <a href="#" class="list-value font-weight-bold">@Model.Author.Name</a></li>
                        <li>Availability: <span class="list-value">@(Model.IsAviable ?"Movcuddur" :"Tessufki bitib!")</span></li>
                    </ul>
                    <div class="price-block">
                        @if (Model.DiscountPercent > 0)
                        {
                            <span class="price-new">£@((Model.InitialPrice * (100 - Model.DiscountPercent) / 100).ToString("0.00"))</span>
                            <del class="price-old">£@Model.InitialPrice</del>
                        }
                        else
                        {
                            <span class="price-new">£@Model.InitialPrice.ToString("0.00")</span>
                        }
                        
                    </div>
                    <div class="rating-widget">
                        <div class="rating-block">
                            <span class="fas fa-star star_on"></span>
                            <span class="fas fa-star star_on"></span>
                            <span class="fas fa-star star_on"></span>
                            <span class="fas fa-star star_on"></span>
                            <span class="fas fa-star "></span>
                        </div>
                        <div class="review-widget">
                            <a href="~/#">(1 Reviews)</a> <span>|</span>
                            <a href="~/#">Write a review</a>
                        </div>
                    </div>
                    <article class="product-details-article">
                        <h4 class="sr-only">Product Summery</h4>
                        <p>
                            Long printed dress with thin adjustable straps. V-neckline and wiring under
                            the Dust with ruffles
                            at the bottom
                            of the
                            dress.
                        </p>
                    </article>
                    <div class="add-to-cart-row">
                        <div class="count-input-block">
                            <span class="widget-label">Qty</span>
                            <input type="number" class="form-control text-center" value="1">
                        </div>
                        <div class="add-cart-btn">
                            <a href="~/#" class="btn btn-outlined--primary">
                                <span class="plus-icon">+</span>Add to Cart
                            </a>
                        </div>
                    </div>
                    <div class="compare-wishlist-row">
                        <a href="~/#" class="add-link"><i class="fas fa-heart"></i>Add to Wish List</a>
                        <a href="~/#" class="add-link"><i class="fas fa-random"></i>Add to Compare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="widget-social-share">
            <span class="widget-label">Share:</span>
            <div class="modal-social-share">
                <a href="~/#" class="single-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="~/#" class="single-icon"><i class="fab fa-twitter"></i></a>
                <a href="~/#" class="single-icon"><i class="fab fa-youtube"></i></a>
                <a href="~/#" class="single-icon"><i class="fab fa-google-plus-g"></i></a>
            </div>
        </div>
    </div>
</div>