@model Tag
@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Create</h1>
        <form asp-action="create" method="post">
            <div class="form-group">
                <label asp-for="Name">FullName</label>
                <input type="text" class="form-control" asp-for="Name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>